<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Tourism</title>
		<meta name="theme-color" content="#c9e0e04d">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
		<link rel="stylesheet" href="../styles/main.css">
	</head>
	<body>
        <div class="page page-main">
            <div class="wrap">
                <header>
                    <div class="header">
                        <ul class="header-list">
                            <li class="header-list__item"><a href="" class="header-list__link">Home</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Tourism</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Gallery</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Banner</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Statistics</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Presents</a></li>
                        </ul>
                    </div>
                </header>
                <div class="block-forest">
                    <h2 class="block-forest__name">EXPLORE THE</h2>
                    <h1 class="block-forest__tittle">DEEP FOREST</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="page page_white">
            <div class="wrap">
                <div class="block-gallery">
                    <div class="block-gallery__text">
                        <h1 class="writer-text__name box-name">Gallery</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="block-gallery__grid"></div>
                </div>
                <div class="block-sideImage"></div>
            </div>
        </div>
        <div class="page page_grey">
            <div class="wrap">
                <h1 class="page-grey__name">Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="page page-white">
            <div class="wrap">
                <h1 class="page-white__name">Other Books<span>Some books you might be interested in</span> </h1>
                <h1>Did You Know?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet suscipit leo. Sed lectus odio, accumsan vitae suscipit in, posuere et orci. Nunc a feugiat arcu. Proin fringilla lectus non finibus malesuada. In in nulla augue. Integer id lacus ultrices, pharetra tellus a, pulvinar lorem. Pellentesque quis pretium nulla, sit amet efficitur justo. Morbi luctus vehicula diam, vitae facilisis libero ultrices eu.</p>
                <div class="three-books">
                    <p><span>2000</span>Lorem Ipsum</p>
                    <p><span>23</span>Lorem Ipsum</p>
                    <p><span>19382</span>Lorem Ipsum</p>
                    <p><span>120</span>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="page page_grey">
            <div class="wrap">
                <h1 class="page-grey__name">Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <footer>
                    <div class="footer">
                        <ul class="footer-list">
                            <li class="footer-list__item">Home</li>
                            <li class="footer-list__item">Tourism</li>
                            <li class="footer-list__item">Gallery</li>
                            <li class="footer-list__item">Banner</li>
                            <li class="footer-list__item">Statistics</li>
                            <li class="footer-list__item">Presents</li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
            <script src="../js/main.js" defer></script>
	</body>
</html>
